<!-- FOOTER -->
<footer>
    <div class="footer__socials">
        <a href="" target="_blank"><i class="uil uil-youtube"></i></a>
        <a href="" target="_blank"><i class="uil uil-facebook-f"></i></a>
        <a href="" target="_blank"><i class="uil uil-instagram-alt"></i></a>
        <a href="" target="_blank"><i class="uil uil-linkedin"></i></a>
        <a href="" target="_blank"><i class="uil uil-twitter"></i></a>
    </div>
    <div class="footer__copyright">
        <small>Copyright &copy; James Odera</small>
    </div>
</footer>
<!-- END FOOTER -->