<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <!-- CUSTOM STYLESHEET -->
    <link rel="stylesheet" href="./styles.css">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <!-- NAV -->
    <nav>
        <div class="container nav__container">
            <a href="index.html" class="nav__logo">JAMES</a>
            <ul class="nav__items">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <!-- <li><a href="signin.html">Signin</a></li> -->
                <li class="nav__profile">
                    <div class="avatar">
                        <img src="./images/Profile.png" alt="Profile">
                    </div>
                    <ul>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="logout.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!--  -->
            <button id="open__nav-btn">
                <i class="uil uil-bars"></i>
            </button>
            <button id="close__nav-btn">
                <i class="uil uil-multiply"></i>
            </button>
        </div>
    </nav>
    <!-- END NAV -->

    <!-- HEADER -->
    <header class="category__title">
        <h2>Science and Tech</h2>
    </header>
    <!-- END HEADER -->

    <!-- POSTS -->
    <section class="posts">
        <div class="container posts__container">
            <article class="post">
                <div class="post__thumbnail">
                    <img src="./images/about01.png" />
                </div>
                <div class="post__info">
                    <a href="category-posts.html" class="category__button">Wild Life</a>
                    <h2 class="post__title">
                        <a href="post.html">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </a>
                    </h2>
                    <p class="post__body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <div class="post__author">
                        <div class="post__author-avatar">
                            <img src="./images/avtr1.jpg" />
                        </div>
                        <div class="post__author-info">
                            <h5>By: Iris West</h5>
                            <small>October 10, 2022 - 07:23</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post__thumbnail">
                    <img src="./images/about04.png" />
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h2 class="post__title">
                        <a href="post.html">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </a>
                    </h2>
                    <p class="post__body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <div class="post__author">
                        <div class="post__author-avatar">
                            <img src="./images/profile.jpg" />
                        </div>
                        <div class="post__author-info">
                            <h5>By: Iris West</h5>
                            <small>October 10, 2022 - 07:23</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post__thumbnail">
                    <img src="./images/wall1.jpg" />
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h2 class="post__title">
                        <a href="post.html">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </a>
                    </h2>
                    <p class="post__body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <div class="post__author">
                        <div class="post__author-avatar">
                            <img src="./images/smiley.png" />
                        </div>
                        <div class="post__author-info">
                            <h5>By: Iris West</h5>
                            <small>October 10, 2022 - 07:23</small>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- END POSTS -->

    <!-- CATEGORY BUTTONS -->
    <section class="category__buttons">
        <div class="container category__buttons-container">
            <a href="" class="category__button">Art</a>
            <a href="" class="category__button">Travel</a>
            <a href="" class="category__button">Wild</a>
            <a href="" class="category__button">Music</a>
            <a href="" class="category__button">Food</a>
            <a href="" class="category__button">Science and Tech</a>
        </div>
    </section>
    <!-- END CATEGORY BUTTONS -->

    <!-- FOOTER -->
    <footer>
        <div class="footer__socials">
            <a href="" target="_blank"><i class="uil uil-youtube"></i></a>
            <a href="" target="_blank"><i class="uil uil-facebook-f"></i></a>
            <a href="" target="_blank"><i class="uil uil-instagram-alt"></i></a>
            <a href="" target="_blank"><i class="uil uil-linkedin"></i></a>
            <a href="" target="_blank"><i class="uil uil-twitter"></i></a>
        </div>
        <div class="footer__copyright">
            <small>Copyright &copy; James Odera</small>
        </div>
    </footer>
    <!-- END FOOTER -->

    <!-- ============================================================================= -->
    <script src="./main.js"></script>
</body>
</html>