{%extends 'home/base.html'%}
{% load static %}

{% block content %}
{{block.super}}

<section class="dashboard">
    <div class="container dashboard__container">
        <button id="show__sidebar-btn" class="sidebar__toggle">
            <i class="uil uil-angle-right-b"></i>
        </button>
        <button id="hide__sidebar-btn" class="sidebar__toggle">
            <i class="uil uil-angle-left-b"></i>
        </button>
        <aside>
            <ul>
                <li>
                    <a href="{% url 'add-photo' %}">
                        <i class="uil uil-pen"></i>
                        <h5>Add Post</h5>
                    </a>
                </li>
                <li>
                    <a href="{% url 'dashboard' request.user.profile.id %}" class="active">
                        <i class="uil uil-postcard"></i>
                        <h5>Manage Posts</h5>
                    </a>
                </li>
                <li>
                    <a href="{% url 'profile_info' request.user.profile.id %}">
                        <i class="uil uil-notes"></i>
                        <h5>Profile Info</h5>
                    </a>
                </li>
                <li>
                    <a href="{% url 'edit_profile' %}">
                        <i class="uil uil-edit"></i>
                        <h5>Edit Profile</h5>
                    </a>
                </li>
            </ul>
        </aside>
        <main>
            <header>
                <h2>Manage Posts</h2>
                <div class="avatar">
                    {% if request.user.profile.photo %}
                    <img src="{{ request.user.profile.photo.url }}" alt="Profile">
                    {% else %}
                    <span>{{ profile.user.username|slice:":1"| capfirst }}</span>
                    {% endif%}
                </div>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images %}
                    <tr>
                        <td>{{image.title|truncatechars:25}}</td>
                        <td>{{image.category}}</td>
                        <td><a href="{% url 'image_edit' id=image.id %}" class="btn sm">Edit</a></td>
                        <td><a href="{% url 'image_delete' id=image.id %}" id="delete" class="btn sm danger">Delete</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>
                            <h1>You Have No Posts</h1>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</section>

{% endblock %}
